.cube {
	height: $cube-height;
	width: $cube-width;
	
	transition: transform 1s;
	-moz-transition: -moz-transform 1s;
	-webkit-transition: -webkit-transform 1s;

	perspective: 10000px;
	-webkit-perspective: 10000px;
	-moz-perspective: 10000px;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	float: right;
}

.cube-valid {
	transform: rotateX(90deg);
	-webkit-transform: rotateX(90deg);
	-moz-transform: rotateX(90deg);
}

.cube-error {
	transform: rotateX(-90deg);
	-webkit-transform: rotateX(-90deg);
	-moz-transform: rotateX(-90deg);
}

input[type="text"] {
	float: left;
	width: 540px;
	border: none;
	background-color: #3B99C2;
	padding-left: 10px;
	height:$cube-height;
	font-size: 1.5em;
}


div.cube-item {
	padding: 0;
}
.cube-item {	
	position: absolute;
	display: block;
	width: $cube-width;
	height: $cube-height;
	border: none;
	color: white;
	background-color: #3B99C2;
	font-size: 2em;

}

input[type="submit"] {
	border: none;
	background-color: $placeholder-colour;
	color: white;
	border-radius: 5px;
	font-size: 1.5em;
	padding: 15px;
	float: right;
	margin-top: 20px;
	cursor: pointer;
}

.cube-item-1 {
	transform: translate3d(0, 0, $size/2);
	-webkit-transform: translate3d(0, 0, $size/2);
	-moz-transform: translate3d(0, 0, $size/2);
}

.cube-item-2 {
	transform: rotateX(-90deg)  translate3d(0, 0, $size/2);	
	-webkit-transform: rotateX(-90deg)  translate3d(0, 0, $size/2);	
	-moz-transform: rotateX(-90deg)  translate3d(0, 0, $size/2);	
}

.cube-item-3 {
	transform: rotateX(180deg)  translate3d(0, 0, $size/2);	
	-webkit-transform: rotateX(180deg)  translate3d(0, 0, $size/2);	
	-moz-transform: rotateX(180deg)  translate3d(0, 0, $size/2);	
}

.cube-item-4 {
	transform: rotateX(90deg)  translate3d(0, 0, $size/2);	
	-webkit-transform: rotateX(90deg)  translate3d(0, 0, $size/2);	
	-moz-transform: rotateX(90deg)  translate3d(0, 0, $size/2);	
}

.form-item {
	margin-top: 20px;
	height: $cube-height;
}

.hide {
	opacity: 0;
}

.not-supported {
	display: none;
}